body {
    background-color: #1E2027;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #D44B30;
}

code {
    background-color: #3a3e4f;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
}

@media screen and (min-width: 1400px) and (max-width: 2560px) {
    header {
        background-color: #3a3e4f;
        margin-left: 250px;
        border-radius: 10px;
        padding: 20px;
    }

    aside {
        background: #3a3e4f;
        position: fixed;
        padding: 10px;
        width: 200px;
        height: 100vh;
        top: 0;
        left: 0;
        box-shadow: 10px 5px 5px black;
    }

    main {
        margin-left: 300px;
    }

    #home_icon {
        width: 100px;
        height: 100px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    header {
        background-color: #3a3e4f;
        margin-left: 200px;
        border-radius: 10px;
        padding: 10px;
    }

    aside {
        background: #3a3e4f;
        position: fixed;
        padding: 10px;
        width: 150px;
        height: 150vh;
        top: 0;
        left: 0;
    }

    main {
        margin-left: 200px;
    }

    #home_icon {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 200px) and (max-width: 1200px) {
    header {
        background-color: #3a3e4f;
        margin-left: 10px;
        border-radius: 10px;
        padding: 20px;
    }

    aside {
        background: #3a3e4f;
        margin-left: 0px;
        border-radius: 10px;
        padding: 20px 20px 50px 20px;
        border: 2px solid black;
    }

    .nu-tipo-navbar {
        position: sticky;
        top: 0;
    }

    main {
        padding-top: 10px;
        margin-left: 10px;
    }

    #home_icon {
        visibility: collapse;
        width: 20px;
        height: 20px;
    }

    .nav-list-ul {
        display: flex;
        gap: 20px;
    }

    .nav_li {
        flex: 1 1 0px;
        flex-grow: 1;
        padding: 10px;
    }

    #data-ex-t {
        visibility: collapse;
    }
}

p {
    margin-left: 50px;
    margin-top: 20px;
}

#proj-info {
    margin-left: 20px;
}

#nav_header {
    color: #D44B30;
    display: flex;
}

/*#home_icon {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/


.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 100%;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 100%;
    font-weight: 400;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-e889 {
    background-color: #1e2027;
    color: #d44b30;
    font-weight: 700;
    text-align: left;
    vertical-align: bottom
}

.tg .tg-im72 {
    background-color: #ffffff;
    text-align: left;
    vertical-align: bottom
}

.tg .tg-11x7 {
    background-color: #d2d2d2;
    text-align: left;
    vertical-align: bottom
}

.span-700 {
    font-weight: 700;
    text-decoration: none;
    color: #d44b30;
}

span {
    font-weight: 400;
    text-decoration: none;
    color: black;
}

#loadTime {
    text-align: center;
}

.nav-hrefs{
    position: absolute;
    color: #d44b30;
    text-decoration: none;
}

nav ul a li:hover{
    background-color: #ccc;
    border-radius: 5px;
    padding: 5px;
}

#XB{
    color: #FFC0CB;
    width: 250px;
    padding: 10px;
}

#TEKST{
    text-indent: 20px;
    text-decoration: underline;
    font-style: italic;
    font-size: 110%;
    padding: 10%;
    text-transform: uppercase;
    line-height: 110%;
}

.nav_li:hover {
    background-color: #d44b30;
    color: black;
    border: 2px solid black;
    padding: 2px;
    border-radius: 10px;
}

.nav_active{
    background-color: #1E2027;
    color: white;
    border: 2px solid black;
    padding: 2px;
    border-radius: 10px;
    box-shadow: #1e2027;
}

li a { margin: 0px; display: block; width: 100%; height: 100%; }

a {
    text-decoration: none;
    color: white;
}

#grid-table {
    min-width: 60vw;
    width: auto;
    flex: 1;
    display: grid;
    border-collapse: collapse;
    grid-template-columns: 
    minmax(60px, 1fr)
    minmax(60px, 1.67fr)
    minmax(60px, 1.67fr);
}

thead, tbody, .grid-table-tr {
    display: contents;
}

.grid-table-th, .grid-table-td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-table-th {
    top: 0;
    background: #d44b30;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
}

.resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    width: 3px;
    cursor: col-resize;
}

.grid-table-td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
}

.grid-table-tr:nth-child(even) td {
    background: #f8f6ff;
}

#apartmentForm label {
    display: block;
    margin-bottom: 10px;
    padding: 5 px;
}

#loadingIndicator {
    width: 200px;
    height: 200px;
    /* position: fixed; */
    /* justify-content: center;
    align-items: center; */
    /* position: fixed; */
    background: #1e2027;
    margin: auto;
    padding: 30px;
    display: none;
    /* z-index: 1; */
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    background-color: #3a3e4f;
    border-color: #D44B30 transparent #D44B30 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#fetchData {
    padding: 30px;
}

#fetchButton {
    background-color: #D44B30;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

#fetchButton:hover {
    background-color: #D44B30;
}
